name: Frontend CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Code auschecken
      uses: actions/checkout@v4

    - name: Node.js einrichten
      uses: actions/setup-node@v4
      with:
        node-version: '14'

    - name: Abh채ngigkeiten installieren
      run: npm install

    - name: Tests ausf체hren
      run: npm run build

    - name: Anwendung verpacken
      run: 7z a angular-frontend.7z dist/*

    - name: Build-Ergebnis anzeigen
      if: always()
      run: echo 'Build abgeschlossen'

    - name: Erfolgreicher Build
      if: success()
      run: echo 'Build war erfolgreich!'

    - name: Fehlgeschlagener Build
      if: failure()
      run: echo 'Build ist fehlgeschlagen. Bitte 체berpr체fen Sie die Logs.'